@model proiectDaw.Models.Profile

@{
	ViewBag.Title = "Show profile";
}

<h3>Albums</h3>
<div>


	@foreach (proiectDaw.Models.Albums item in ViewBag.Albums)
	{
		// merge doar ca nu am facut controllerul la albume si nu are ce sa arata ( tabela e goala)
		@Html.Label(item.Name);
		@:<div class="row">

			foreach (proiectDaw.Models.Pictures pic in ViewBag.Pictures)
		{
		    	<!--  aici ar trebui puse poze-->
			if (pic.AlbumId == item.Id)
			{
				Html.Partial("PhotoThumbnail", pic);
			}

		}
	}
	@{ 
	  @:</div>
	}

	</dl>
</div>
