@model proiectDaw.Models.Pictures

@{
    ViewBag.Title = "Index";
}

<h2>Recently added</h2>

<div class="row">

    @foreach (proiectDaw.Models.Pictures item in ViewBag.Pictures)
    {
        @Html.Partial("PhotoThumbnail", item);
     }
        
</div>
