@model proiectDaw.Models.Pictures

@{
    ViewBag.Title = "Index";
}

<h2>You may also like...</h2>

<main class="main-content ">
    <div class="container-fluid photos">
        <div class="row align-items-stretch">
            @foreach (proiectDaw.Models.Pictures item in ViewBag.Pictures)
            {
                @Html.Partial("PhotoThumbnail", item);
            }
        </div>
    </div>
</main>



            @*<div class="row">

                @foreach (proiectDaw.Models.Pictures item in ViewBag.Pictures)
                {
                    @Html.Partial("PhotoThumbnail", item);
                }

            </div>*@
