@model proiectDaw.Models.Categories

@{
	ViewBag.Title = "Afisare categorie";
}

<h2>@ViewBag.Title</h2>
<h1>@Model.Name</h1>
<br />

@if (ViewBag.IsAdmin == true)
{
	<a class="btn btn-sm btn-info" href="/Categories/Edit/@Model.Id">Modify category</a>
	<br /><br />
	<form method="post" action="/Categories/Delete/@Model.Id">
		@Html.HttpMethodOverride(HttpVerbs.Delete)
		<button class="btn btn-sm btn-danger" type="submit">Delete category</button>
	</form>
}
<div class="row">

	@foreach (proiectDaw.Models.Pictures item in ViewBag.Pictures)
	{
		@Html.Partial("PhotoThumbnail", item);
	}

</div>