@model proiectDaw.Models.Categories

@{
	ViewBag.Title = "Items from";
}

<h2>@ViewBag.Title @Model.Name category:</h2>

<br />

@if (ViewBag.IsAdmin == true)
{
	<a class="btn btn-sm btn-info" href="/Categories/Edit/@Model.Id">Modify category</a>
	<br /><br />
	<form method="post" action="/Categories/Delete/@Model.Id">
		@Html.HttpMethodOverride(HttpVerbs.Delete)
		<button class="btn btn-sm btn-danger" type="submit">Delete category</button>
	</form>
}
    <main class="main-content ">
        <div class="container-fluid photos">
            <div class="row align-items-stretch">
                @foreach (proiectDaw.Models.Pictures item in ViewBag.Pictures)
                {
                    @Html.Partial("PhotoThumbnail", item);
                }
            </div>
        </div>
    </main>