<div class="panel panel-default">
	<div class="panel-heading">
		@Model.CreatedBy
		<span class="label label-success"> @Model.CreatedAt </span>
	</div>
	<div class="panel-body">
		Continut articol: <strong>@Model.Text</strong>
		<br />
		
		<br />	
	</div>	
</div>
<br />