@model proiectDaw.Models.Albums

@{
    ViewBag.Title = "Liked photos";
}

<h2>@ViewBag.Title</h2>

<main class="main-content ">
    <div class="container-fluid photos">
        <div class="row align-items-stretch">
            @foreach (proiectDaw.Models.Pictures item in ViewBag.Pictures)
            {
                @Html.Partial("PhotoThumbnail", item);
            }
        </div>
    </div>
</main>
