@model proiectDaw.Models.Comments
@{
	ViewBag.Title = "Edit comment:";
}

<h2>@ViewBag.Title</h2>
<form method="post" action="/Comments/Edit/@Model.Id">
	@Html.HttpMethodOverride(HttpVerbs.Put)
	<br/>
	@Html.EditorFor(m => m.Text    )
	@Html.ValidationMessageFor(model => model.Text, null, new { @class = "text-danger " })
	<br/>
	<br/>
	<button class="btn btn-sm btn-success" type="submit">Save changes</button>
</form>

