@model proiectDaw.Models.Albums


<h2>@Model.Name</h2>
<small><i class="text-right">Created by: @Model.CreatedBy</i></small>
<br />



<main class="main-content ">
    <div class="container-fluid photos">
        <div class="row align-items-stretch">
            <a class="btn btn-sm btn-success linie" href="/Album/Edit/@Model.Id">Modify album</a>
            @*<form method="post" action="/Album/Delete/@Model.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-sm btn-success linie" type="submit">Delete album</button>
            </form>*@
            <br/>
            <br/>
            <br/>
            @foreach (proiectDaw.Models.Pictures item in ViewBag.Pictures)
            {
                @Html.Partial("PhotoThumbnail", item);
            }
        </div>
    </div>
</main>




